* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

#content {
  display: grid;
  grid-template-areas: "nav nav"
                       "header header"
                       "main main"
                       "section section"
                       "footer footer";
}

nav{
  grid-area: nav;
}
header{
  grid-area: header;
}
main{
  grid-area: main;
}
section{
  grid-area: section;
}
footer{
  grid-area: footer;
}

.background{
  background: rgb(72,2,77);
  background: linear-gradient(0deg, rgba(72,2,77,1) 22%, rgba(0,0,0,1) 76%);
}

/* NAVEGADOR */

.wrapper .header {
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 250),
    rgba(0, 0, 0, 260)
  );
  box-shadow: 2px 2px 10px black ;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu {
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; 
  position: relative;
}

.wrapper .header .header-menu .title {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900; }

.wrapper .header .header-menu .title span {
  color: #4cceeb; }

.wrapper .sidebar .sidebar-btn {
  color: #fff;
  position: relative;
  margin-left: 4px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color; 
  display: block;
  padding: 25px 20px;
}
  

.wrapper .sidebar .sidebar-btn:hover {
  color: indigo; }

.wrapper .header .header-menu {
  display: flex; }

.wrapper .header .header-menu ul{
  display: flex;
}
.wrapper .header .header-menu ul li a {
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover {
  background: #4cceeb;
  color: #fff; }

.wrapper .sidebar {
  z-index: 1;
  background: rgb(72,2,77);
  background: linear-gradient(0deg, rgba(72,2,77,1) 22%, rgba(0,0,0,1) 76%);
  box-shadow: 2px 2px 10px indigo ;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto; 

}

.wrapper .sidebar .sidebar-menu .profile img {
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.wrapper .sidebar .sidebar-menu .profile p {
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px; }

.wrapper .sidebar .sidebar-menu .item {
  overflow: hidden; }

.wrapper .sidebar .sidebar-menu .item .menu-btn {
  display: block;
  color: #fff;
  position: relative;
  padding: 20px 20px;
  transition: 0.3s;
  transition-property: color; }

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
  color: #4cceeb; }

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
  margin-right: 20px; }

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down {
  float: right;
  font-size: 12px;
  margin-top: 3px; }

.wrapper .sidebar .sidebar-menu .item .sub-menu {
  background: #3498DB;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height; }

.wrapper .sidebar .sidebar-menu .item .sub-menu a {
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  border-bottom: 1px solid #8FC5E9;
  transition: 0.3s;
  transition-property: background; }

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
  background: purple; }

.wrapper .sidebar .sidebar-menu .item .sub-menu i {
  padding-right: 20px;
  font-size: 10px; }

.wrapper .sidebar .sidebar-menu .item:target .sub-menu {
  max-height: 300px; }

  .main-container{
    width: 100%;
    margin-top: 70px;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
}
.wrapper.collapse  .sidebar{
    width: 70px;
}
.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
    display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
}
.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
}
.wrapper.collapse .main-container{
    width: 100%;
    margin-left: 70px;
}



/*Logo de LIVE */

.live{
    margin-left: 80px;
    font-weight: 500;
    font-size: large;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: indigo;
    position: absolute;
    margin: 1px;
    padding: 3%;
    animation: blinker 1.5s linear infinite;
    justify-self: start;
    margin-left: 60px;
}
  
  @keyframes blinker {
    50% {
      opacity: 0; } }

.logo{
    color: #fff;
    position: relative;
}

/* HEADER */
header{
  height: 300px;
  width: auto;
  padding-left: 70px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 260)
  );

}
.video{
    width: 95%;
    z-index: -1;
    position: absolute;
    height: 300px;
    object-fit: cover;
  }
header h1{
  color: white;
  text-align: center;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  padding: 10%;
  font-weight: 1;
  text-transform: capitalize;
}
header h1 span{ text-shadow:
  0 0 5px rgb(204, 0, 255),
  0 0 10px rgba(204, 0, 255),
  0 0 20px rgba(204, 0, 255),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
}
/* Main */
main{
  width: 100%;
  padding-left: 70px;
  height: 500px;
  
}
main div{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 50px;
}
main div iframe{
  box-shadow: 5px 5px 20px 10px indigo ;
border-radius: 5%;
}
main h2{
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,1) 58%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 30px;
}

/* SECTION */
section{
  padding-left: 70px;
}
#twitch-embed{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow:
  0 0 5px rgba(0,178,255,1),
  0 0 10px rgba(0,178,255,1),
  0 0 20px rgba(0,178,255,1),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
  font-size: 50px;
}
h3 span{
  text-shadow:
  0 0 5px rgb(204, 0, 255),
  0 0 10px rgba(204, 0, 255),
  0 0 20px rgba(204, 0, 255),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
}
.blink-1{animation:blink-1 3s infinite both}
@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}  
 /* GAMEPLAYS */
 h4{
   padding-left: 70px;
   color: white;
   display: flex;
   justify-content: center;
   margin-top: 70px;
   font-size: 50px;
   text-shadow:
   0 0 5px rgba(0,178,255,1),
   0 0 10px rgba(0,178,255,1),
   0 0 20px rgba(0,178,255,1),
   0 0 40px rgba(38,104,127,1),
   0 0 80px rgba(38,104,127,1),
   0 0 90px rgba(38,104,127,1),
   0 0 100px rgba(38,104,127,1),
   0 0 140px rgba(38,104,127,1),
   0 0 180px rgba(38,104,127,1);
 }
 .h4game{
  text-shadow:
  0 0 5px rgb(204, 0, 255),
  0 0 10px rgba(204, 0, 255),
  0 0 20px rgba(204, 0, 255),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
 }
 
.dota{
  margin: 100px;
  padding-left: 70px;
  background-color: darkred;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 20px 25px 0px black ;
  height: 300px;
  display: flex;
  width: 90%;
}
.dota video{
  box-shadow: 0px 3px 20px 5px red ;
}
.dotatext{
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 100%;
}
h5{
  text-align: center;
  color: black;
  text-shadow:
  0 0 5px rgb(255, 0, 0),
  0 0 10px rgb(255, 0, 0),
  0 0 20px rgb(255, 0, 0),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
  font-size: 30px;
}
.dotatext p{
  text-align: center;
  color: white;

}
.gear5{
  margin: 100px;
  padding-left: 70px;
  background-color: darkgoldenrod;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 20px 25px 0px black ;
  height: 300px;
  display: flex;
  width: 90%;
  justify-content: right;
  flex-direction: row-reverse;
}
.gear5 video{
  box-shadow: 0px 3px 20px 5px rgb(255, 183, 0) ;
}
h6{
  text-align: center;
  color: black;
  text-shadow:
  0 0 5px rgb(255, 183, 0),
  0 0 10px rgb(255, 183, 0),
  0 0 20px rgb(255, 183, 0),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
  font-size: 30px;
}

/* FOOTER */

footer{
  height: 200px;
  background: black;
  margin-top: 30px;

}
